<app-navbar></app-navbar>

<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">

        <div class="card-header"><h1 class="text-center text-body fw-bold">About</h1></div>
              <br>
              <img src="./assets/logo.jpg" style="width:100%" class="card border-danger mb-3">
              <br>
              <br>
              <h5 align="center" class="text-body fw-bold">We will admit that paintball isn’t meant for everyone, but if you’re looking for an adrenaline rush then it may just be the right sport for you. If you’re worried about getting injured playing paintball then don’t worry – it's the safest sport in the world, even safer than golf. You can contact our club president on his social below before embarking on your first paintball journey.
              </h5>
          <br>
          <h2 id="tagging" style="text-align:center" class="text-danger fw-bold">Club President</h2>
          <br>

              </div>

                <div class="column">
                  <div class="card" class="card border-light mb-3">
                    <img src="./assets/arip.jpg" style="width:100%">
                    <div class="container">
                      <br>
                      <h2 style="text-align:center" class="text-body fw-bold">Muhammad Arif Danial Bin Rosnelifaizur</h2>
                      <p class="title" style="text-align:center" class="text-danger ">Club President</p>
                      <p style="text-align:center" class="text-success">📷: arif_danial14</p>
                    </div>
                  </div>
                  <br>
                <br>
                </div>






