<app-navbar></app-navbar>

<div id="outPopUp" class="container">
  <div class="row">
      <div id="textcent" class="col-md-6 mt-5 mx-auto">

        <div class="card-header"><h1 class="text-center text-info fw-bold">FAQ</h1></div>
              <br>
          <div class="box">
              <br>
              <div class="faqs">
                  <img src="" style="width:50%">
                 <details>
                    <summary>What is paintball?</summary>
                    <br>
                    <p align="center" class="text text-info">Paintball is a competitive sport where the goal is to shoot small spherical balls filled with non-toxic paint (paintballs) at your opponent with the hope that one of them breaks upon impact and leaves paint on the their clothes, skin or weapon.

                      Once a player is hit by a paintball and it covers them in paint then they are eliminated. Eliminate all of the enemy players or accomplish the objective and your team wins.
                      </p>
                 </details>
                 <details>
                    <summary>How to Play Paintball</summary>
                    <br>
                    <p align="center" class="text text-info fw-bold">In order to play paintball you only need a paintball gun, a paintball mask, an air tank filled with either Co2 or HPA and most importantly – paintballs. Of course, it is only possible to play paintball when you have people to play with and a place to play at. This is where your local paintball field comes in.

                      Now if you do not have a local paintball field and are not willing to drive the distance to the field nearest you, you will have to make due with what you have. If you have a large backyard that is safe for paintball (no persons or personal property in range of paintball fire) and is filled with objects for players to hide behind (trees, bushes, etc.) then you are good to go.

                      Always ask for permission before playing paintball on private land.
                    </p>
                 </details>
                 <details>
                  <summary>Paintball Game Variations</summary>
                  <br>
                  <p align="center" class="text text-info fw-bold">In paintball there are many different variations of the game that you can play. The two main game types are woodsball and speedball, but there are also many sub-variations of paintball such as scenario paintball, Milsim paintball, tournament paintball and even stock class paintball.</p>
               </details>
              </div>
           </div>
           <br>
           <br>
      </div>
  </div>

